<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>
<!--localhost:5000/updateAuthor?id=3&fullName=Manish-->
</head>
<body>
<div th:insert="fragments/style"></div>
<h1>Employee Edit Form</h1>
<form th:action="@{/updateDeptEmp}" th:object="${employeeToEdit}" method="post">
    <label for="empNo">Employee ID</label>
    <input type="text" id="empNo" name="empNo"/><br/>

    <label for="deptNo">Department ID</label>
    <input type="text" id="deptNo" name="deptNo"/><br/>

    <label for="fromDate">From Date</label>
    <input type="text" id="fromDate" name="fromDate"/><br/>

    <label for="toDate">To Date</label>
    <input type="text" id="toDate" name="toDate"/><br/>

    <input type="submit" value="Update"/>
</form>
<!--<div th:insert="fragments/footer"></div>-->
</body>
</html>