<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Author</title>
</head>
<body>
<div th:insert="fragments/style"></div>
<h1>Employees Details</h1>
<table class="outer">
    <thead class="table-header">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Birthday</th>
        <th>Gender</th>
        <th>Hire Date</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    </thead>
    <tr class="outer" th:each="employee : ${employees}">
        <td th:text="${employee.getId()}"></td>
        <td th:text="${employee.getFirstName()+' '+employee.getLastName()}"></td>
        <td th:text="${employee.getBirthDate()}"></td>
        <td th:text="${employee.getGender()}"></td>
        <td th:text="${employee.getHireDate()}"></td>

        <td><a th:href="@{/employee/edit/{id}(id=${employee.id})}">Edit</a></td>
        <td><a th:href="@{/employee/delete/{id}(id=${employee.id})}">Delete</a></td>
    </tr>
    <div th:insert="fragments/footer"></div>
</table>

<button><a th:href="@{/employee/create}" >Create An Employee</a></button>
<button><a th:href="@{/employee/find}">Find An Employee</a></button>

<!--<div th:insert="fragments/footer :: alternate">This is some text</div>-->
</body>
</html>