<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employee Details</title>

</head>
<body>
<div th:insert="fragments/style"></div>
<h1>Employee Find Form</h1>
<form th:action="@{/findEmployeeById}" method="post">
        <label for="id">ID</label>
    <input type="text" id="id" name="id"/><br/>


<!--    <label for="hireDate">Department Name</label>-->
<!--    <input type="text" id="hireDate" name="hireDate"/><br/>-->

    <input type="submit" value="FindById"/>
</form>


<form th:action="@{/findEmployeeByName}" method="post">

    <label for="firstName">First Name</label>
    <input type="text" id="firstName" name="firstName" /><br/>

    <label for="lastName">Last Name</label>
    <input type="text" id="lastName" name="lastName" /><br/>

    <input type="submit" value="FindByName"/>
</form>


<form th:action="@{/findEmployeeByDepartAndDate}" method="post">

    <label for="deptName">Department Name</label>
    <input type="text" id="deptName" name="deptName" /><br/>

    <label for="fromDate">From Date</label>
    <input type="text" id="fromDate" name="fromDate" /><br/>

    <label for="toDate">End Date</label>
    <input type="text" id="toDate" name="toDate" /><br/>

    <input type="submit" value="FindByDeptAndDate"/>
</form>

</body>
</html>
<!--<div th:insert="fragments/footer"></div>-->