<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Employees Earning Above Given Salary</title>
    <style>            table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>
<body>
<h1>Employee Details</h1>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Surname</th>
        <th>Gender</th>
        <th>Birth Date</th>
        <th>Hire Date</th>
    </tr>
    </thead>
    <tr th:each="employee : ${employees}">
        <td th:text="${employee.getId()}"></td>
        <td th:text="${employee.getFirstName()}"></td>
        <td th:text="${employee.getLastName()}"></td>
        <td th:text="${employee.getGender()}"></td>
        <td th:text="${employee.getBirthDate()}"></td>
        <td th:text="${employee.getHireDate()}"></td>
    </tr>
</table>
</body>
</html>