<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary</title>
    <style>            table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }
    td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
    }
    tr:nth-child(even) {
        background-color: #dddddd;
    }
    </style>
</head>
<body>
<h1>Employee Highest Salary</h1>
<span th:if="${employee==null}">Employee not found</span>
<span th:unless="${employee==null}">
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tr>
        <td th:text="${employee.get().getId()}"></td>
        <td th:text="${employee.get().getFirstName()}"></td>
        <td th:text="${employee.get().getLastName()}"></td>
        <td th:text="${salary}"></td>
    </tr>
</table>
</span>
</body>
</html>