<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary Home</title>
</head>
<body>
<button class="button-36" role="button"><a th:href="@{/author/create}" >Create An Author</a></button>
<button class="button-53" role="button"><a th:href="@{/book/create}">Create A Book</a></button>
<button class="button-36" role="button"><a th:href="@{/author/find}">Find A Author</a></button>
<button class="button-53" role="button"><a th:href="@{/book/find}">Find A Book</a></button>
<button class="button-36" role="button"><a th:href="@{/authors}">Find All Authors</a></button>
<button class="button-53" role="button" ><a th:href="@{/books}">Find All Books</a></button>
</body>
</html>