<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Salary Home</title>
</head>
<body>
<button class="button-36" role="button"><a th:href="@{/salary/create}" >Create A Salary</a></button>
<button class="button-36" role="button"><a th:href="@{/salaries}">Find An Employees Salaries</a></button>
<button class="button-53" role="button"><a th:href="@{/salary/edit}">Edit a Salary</a></button>
<button class="button-36" role="button"><a th:href="@{/salary/delete}">Delete a Salary</a></button>
</body>
</html>