<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title Details</title>
    <style>
        .flex-box {
            display: flex;
            flex-direction: column;
            position: fixed;
            justify-content: center;
            align-items: center;
            height: 70%;
            width: 100%;
        }

        .title-buttons {
            display: flex;
            flex-direction: column;
            /*justify-content: center;*/
            gap: 20px;
            /*margin-top: 20px;*/
            /*padding-top: 50px;*/
        }
    </style>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body style="background-color: #333745">
<div th:insert="~{/fragments/nav-bar :: navbar}"></div>
<div class="flex-box">
    <h1 style="color: #FFEC5E">Title Page</h1>
    <div class="title-buttons">
        <form th:action="@{/titles/search/}" method="get">
            <label for="empNo">Employee Number</label>
            <input type="number" id="empNo" name="empNo"/><br/>
            <input class="btn btn-light" type="submit" value="Search"/>
        </form>
        <a class="btn btn-light" th:href="@{/titles/create}">Create</a>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>