<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title to delete</title>
</head>
<body>
<form th:action="@{/deleteTitle}" method="post">
    <label for="empNo">Employee Number</label>
    <input type="text" id="empNo" name="empNo"/><br/>
    <label for="title">Title</label>
    <input type="text" id="title" name="title"/><br/>
    <label for="fromDate">From Date</label>
    <input type="text" id="fromDate" name="fromDate"/><br/>
    <input type="submit" value="Delete"/>
</form>
</body>
</html>