<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
  <meta charset="UTF-8">
  <title>Actor Details</title>
  <style>
    table {
      font-family: arial, sans-serif;
      border-collapse: collapse;
      width: 100%;
    }

    td, th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }

    tr:nth-child(even) {
      background-color: #dddddd;
    }
  </style>
</head>
<body>
<h1>Title Edit Form</h1>
<form th:action="@{/updatetitle}" th:object="${titleToEdit}" method="post">
  <label for="id">Employee ID</label>
  <input type="text" id="id" name="id" th:field="*{id.empNo}"/><br/>
  <label for="title">Title</label>
  <input type="text" id="title" name="title" th:field="*{id.title}"/><br/>
  <label for="fromDate">From Date</label>
  <input type="text" id="fromDate" name="fromDate" th:field="*{id.fromDate}"/><br/>
  <label for="toDate">To Date</label>
  <input type="text" id="toDate" name="toDate" th:field="*{toDate}"/><br/>
  <input type="submit" value="Update"/>
</form>
</body>
</html>